body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container{
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);

}
input{
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid#ccc;
}
.btn-grp button{
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
}
.Grp-btn button:hover{
    background: #0056b3;
    color: black;

}
h3 span{
    color: #0056;
}